* {
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
.container {
  text-align: center;
}
.container form {
  margin: 20px auto;
  width: 400px;
}
.container form input {
  width: 100%;
  margin-bottom: 15px;
  height: 46px;
  padding: 10px;
  font-size: 20px;
}
.container form input:focus {
  outline: none;
}
.container form button {
  width: 100%;
  font-size: 20px;
  display: block;
  padding: 15px 10px;
  background-color: #2196f3;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
}
.container form button:disabled {
  opacity: 0.4;
  cursor: no-drop;
}
.container form button:focus {
  outline: none;
}
